@import '../base.scss';

.class-wrapper {
    padding: 10% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondaryColor;

    .text-wrapper {
        width: 45%;

        h1 {
            font-weight: $bold;
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
        }
    }
}

.class-container {
    padding: 0 10%;
    margin-top: 5rem;
    margin-bottom: 7rem;

    h2 {
        font-size: 2rem;
        font-weight:$bold;
        margin-bottom: 1rem;
    }

    p {
        font-size:1.15rem
    }

    .class-flexbox {
        display: flex;
        margin-top: 3rem;
        justify-content: space-between;
        flex-wrap: wrap;

        .class-card {
            border-radius: 10px;
            width: 30%;
            box-shadow: $shadow-card;
            margin-bottom: 3rem;

            .coming-soon {
                display:flex;
                padding: 2rem;
                align-items: center;
                justify-content:center;
                background-color: $grayColor;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                min-height: 200px;
            }

            .card-image {
                display:flex;
                padding: 2rem;
                align-items: center;
                justify-content:center;
                background-color: $primaryColor;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                min-height: 200px;
            }

            .card-description {
                padding: 3rem 5%;

                h4 {
                    font-size:1.4rem;
                    font-weight:$semi-bold;
                    margin-bottom: 1rem;
                }

                p {
                    font-size:1.05rem;
                    font-weight:$light;
                    color: $textGray;
                    margin-bottom: 2rem;
                }
            }

        }

    }
}