@import '../base.scss';

.class-wrapper {
    padding: 14% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondaryColor;

    .text-wrapper {
        width: 45%;

        h1 {
            font-weight: $bold;
            font-size: 3rem;
            color: $primaryColor;
            margin-bottom: 1.5rem;
        }

        .button-container {
            display: flex;
            margin-top: 3rem;
            justify-content: space-between;
            width: 500px;
        }
        
    }
}

.class-description {
    padding: 0 10%;
    margin: 10% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .class-img {
        width: 47%;
        object-fit: contain;
    }

    .class-text {
        width: 50%;

        h2 {
            font-size: 2rem;
            font-weight: $bold;
            margin-bottom: 1.5rem;
        }

        .class-icon {
            display: flex;
            margin-top: 2rem;
            justify-content: space-between;
        }

        .icon-flex {
            h4 {
                font-size: 1.25rem;
                font-weight: $semi-bold;
                margin-bottom: 0.75rem;
            }
        }

        .icon-horizontal {
            display: flex;
            align-items: center;

            img {
                margin-right: 0.5rem;
            }
        }
    }
}

.class-user {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user-text {
        width: 47%;
        h2 {
            font-size: 2rem;
            font-weight: $bold;
            margin-bottom: 1rem;
        }
    }
}

.class-mentor {
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        font-size: 2rem;
        font-weight: $bold;
        margin-bottom: 1rem;
    }

    h3 {
        margin: 1rem 0;
        font-size: 1.5rem;
        font-weight: $semi-bold;
    }

    .mentor {
        height: 500px;
        object-fit: contain;
    }
}